<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom Styles -->
    <style>
        /* Options: Light Purple */
        .btn-outline-primary {
            color: #9370DB;
            border-color: #9370DB;
        }
           /* Background color for the entire page */
        body {
            background-color: #FFC0CB; /* Light Pink */
        }
    </style>

    <title>Sow Music</title>
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Sow Music</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="albums" class="btn btn-outline-primary btn-lg">Album</a>
        </div>
        <div class="col text-center m-3">
            <a href="artists" class="btn btn-outline-primary btn-lg">Artist</a>
        </div>
        <div class="col text-center m-3">
            <a href="genres" class="btn btn-outline-primary btn-lg">Genre</a>
        </div>
        <div class="col text-center m-3">
            <a href="labels" class="btn btn-outline-primary btn-lg">Label</a>
        </div>
        <div class="col text-center m-3">
            <a href="playlists" class="btn btn-outline-primary btn-lg">Playlist</a>
        </div>
        <div class="col text-center m-3">
            <a href="songs" class="btn btn-outline-primary btn-lg">Song</a>
        </div>
    </div>
</div> <!-- Closing div for container -->

<div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
        <span class="h3">Edit Artist</span>
    </div>
    <div class="col-7 text-center m-3">

        <form action="editArtist" method="POST">
            <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name</label>
                <div class="col-9">
                    <input type="text" name="name" id="name" class="form-control"
                           th:value="${artist.name}"/>
                    <div th:if="${#fields.hasErrors('artist.name')}" class="text-danger">
                        <div th:each="err : ${#fields.errors('artist.name')}">
                            <p th:text="${err}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="age" class="col-3 col-form-label">
                    Age</label>
                <div class="col-9">
                    <input type="text" name="age"
                           id="age" class="form-control"
                           th:value="${artist.age}"/>
                </div>
            </div>


            <div class="form-group row">
                <label for="label" class="col-3 col-form-label">Label</label>
                <div class="col-9">
                    <select id="label" name="labelId" class="form-control" >
                        <option th:each="label : ${labels}"
                                th:value="${label.id}"
                                th:text="${label.name}">
                            Label Name</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="albums" class="col-3 col-form-label">
                    Albums</label>
                <div class="col-9">
                    <select multiple id="albums" name="albumId"
                            class="form-control" >
                        <option th:each="album : ${albums}"
                                th:value="${album.id}"
                                th:text="${album.name}">
                            Album Name</option>
                    </select>
                    <div th:if="${#fields.hasErrors('artist.albums')}" class="text-danger">
                        <div th:each="err : ${#fields.errors('artist.albums')}">
                            <p th:text="${err}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="id" th:value="${artist.id}"/>
            <button type="submit" class="btn btn-primary">Edit Artist</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/artists'">Cancel</button>
        </form>
    </div>
</div>
</div>
<!-- End main body -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>;